.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #302e2b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.blurred{
  display: flex;
  height: 100vh;
  flex-direction: row;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.boxRow {
  flex-direction: row;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxColumn {
  flex-direction: column;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: left;
}

.playerDisplay{
  margin: 5px;
  font-size: large;
  font-weight: bold;
  color: white;
}

@media (max-width: 1300px) {
  .container {
    flex-direction: column;
  }
}