h1{
    color:#769656;
}

.terminalContainer{
    background-color: #302e2b;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.terminalContainerInner{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

.terminalBox{
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

.input{
    background-color: #1e1e1b;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
}
.actionButton{
    background-color:#769656;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;

}
.actionButton:hover{
    background-color:#648049;
    color: lightgray;
}

.valueButton{
    background-color: #1e1e1b;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 8px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup-content {
    background: #302e2b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.blurred{
    display: flex;
    height: 100vh;
    flex-direction: row;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
  